*, ::after, ::before {
    box-sizing: border-box;
}

body {
	background: #e7e9ed;
	color: #535b61;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 22px;
}

form {
	padding: 0;
	margin: 0;
	display: inline;
}

img {
	vertical-align: inherit;
}

a,
a:focus {
	color: #0071cc;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

a:hover,
a:active {
	color: #005da8;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

a:focus,
a:active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
button:focus,
button:active {
	outline: none;
}

p {
	line-height: 1.9;
}

blockquote {
	border-left: 5px solid #eee;
	padding: 10px 20px;
}

iframe {
	border: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #0c2f54;
}

.table {
	color: #535b61;
}

.table-hover tbody tr:hover {
	background-color: #f6f7f8;
}

/* =================================== */
/*  Helpers Classes
/* =================================== */
/* Border Radius */
.rounded-top-0 {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.rounded-bottom-0 {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.rounded-left-0 {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.rounded-right-0 {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

/* Text Size */
.text-0 {
	font-size: 11px !important;
	font-size: 0.6875rem !important;
}

.text-1 {
	font-size: 12px !important;
	font-size: 0.75rem !important;
}

.text-2 {
	font-size: 14px !important;
	font-size: 0.875rem !important;
}

.text-3 {
	font-size: 16px !important;
	font-size: 1rem !important;
}

.text-4 {
	font-size: 18px !important;
	font-size: 1.125rem !important;
}

.text-5 {
	font-size: 21px !important;
	font-size: 1.3125rem !important;
}

.text-6 {
	font-size: 24px !important;
	font-size: 1.50rem !important;
}

.text-7 {
	font-size: 28px !important;
	font-size: 1.75rem !important;
}

.text-8 {
	font-size: 32px !important;
	font-size: 2rem !important;
}

.text-9 {
	font-size: 36px !important;
	font-size: 2.25rem !important;
}

.text-10 {
	font-size: 40px !important;
	font-size: 2.50rem !important;
}

.text-11 {
	font-size: calc(1.4rem + 1.8vw) !important;
}

@media (min-width: 1200px) {
	.text-11 {
		font-size: 2.75rem !important;
	}
}

.text-12 {
	font-size: calc(1.425rem + 2.1vw) !important;
}

@media (min-width: 1200px) {
	.text-12 {
		font-size: 3rem !important;
	}
}

.text-13 {
	font-size: calc(1.45rem + 2.4vw) !important;
}

@media (min-width: 1200px) {
	.text-13 {
		font-size: 3.25rem !important;
	}
}

.text-14 {
	font-size: calc(1.475rem + 2.7vw) !important;
}

@media (min-width: 1200px) {
	.text-14 {
		font-size: 3.5rem !important;
	}
}

.text-15 {
	font-size: calc(1.5rem + 3vw) !important;
}

@media (min-width: 1200px) {
	.text-15 {
		font-size: 3.75rem !important;
	}
}

.text-16 {
	font-size: calc(1.525rem + 3.3vw) !important;
}

@media (min-width: 1200px) {
	.text-16 {
		font-size: 4rem !important;
	}
}

.text-17 {
	font-size: calc(1.575rem + 3.9vw) !important;
}

@media (min-width: 1200px) {
	.text-17 {
		font-size: 4.5rem !important;
	}
}

.text-18 {
	font-size: calc(1.625rem + 4.5vw) !important;
}

@media (min-width: 1200px) {
	.text-18 {
		font-size: 5rem !important;
	}
}

.text-19 {
	font-size: calc(1.65rem + 4.8vw) !important;
}

@media (min-width: 1200px) {
	.text-19 {
		font-size: 5.25rem !important;
	}
}

.text-20 {
	font-size: calc(1.7rem + 5.4vw) !important;
}

@media (min-width: 1200px) {
	.text-20 {
		font-size: 5.75rem !important;
	}
}

.text-21 {
	font-size: calc(1.775rem + 6.3vw) !important;
}

@media (min-width: 1200px) {
	.text-21 {
		font-size: 6.5rem !important;
	}
}

.text-22 {
	font-size: calc(1.825rem + 6.9vw) !important;
}

@media (min-width: 1200px) {
	.text-22 {
		font-size: 7rem !important;
	}
}

.text-23 {
	font-size: calc(1.9rem + 7.8vw) !important;
}

@media (min-width: 1200px) {
	.text-23 {
		font-size: 7.75rem !important;
	}
}

.text-24 {
	font-size: calc(1.95rem + 8.4vw) !important;
}

@media (min-width: 1200px) {
	.text-24 {
		font-size: 8.25rem !important;
	}
}

.text-25 {
	font-size: calc(2.025rem + 9.3vw) !important;
}

@media (min-width: 1200px) {
	.text-25 {
		font-size: 9rem !important;
	}
}

/* Line height */
.line-height-07 {
	line-height: 0.7 !important;
}

.line-height-1 {
	line-height: 1 !important;
}

.line-height-2 {
	line-height: 1.2 !important;
}

.line-height-3 {
	line-height: 1.4 !important;
}

.line-height-4 {
	line-height: 1.6 !important;
}

.line-height-5 {
	line-height: 1.8 !important;
}

/* Font Weight */
.fw-100 {
	font-weight: 100 !important;
}

.fw-200 {
	font-weight: 200 !important;
}

.fw-300 {
	font-weight: 300 !important;
}

.fw-400 {
	font-weight: 400 !important;
}

.fw-500 {
	font-weight: 500 !important;
}

.fw-600 {
	font-weight: 600 !important;
}

.fw-700 {
	font-weight: 700 !important;
}

.fw-800 {
	font-weight: 800 !important;
}

.fw-900 {
	font-weight: 900 !important;
}

/* Opacity */
.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 0.1;
}

.opacity-2 {
	opacity: 0.2;
}

.opacity-3 {
	opacity: 0.3;
}

.opacity-4 {
	opacity: 0.4;
}

.opacity-5 {
	opacity: 0.5;
}

.opacity-6 {
	opacity: 0.6;
}

.opacity-7 {
	opacity: 0.7;
}

.opacity-8 {
	opacity: 0.8;
}

.opacity-9 {
	opacity: 0.9;
}

.opacity-10 {
	opacity: 1;
}

/* Background light */
.bg-light {
	background-color: #FFF !important;
}

.bg-light-1 {
	background-color: #f9f9fb !important;
}

.bg-light-2 {
	background-color: #f8f8fa !important;
}

.bg-light-3 {
	background-color: #f5f5f5 !important;
}

.bg-light-4 {
	background-color: #eff0f2 !important;
}

.bg-light-5 {
	background-color: #ececec !important;
}

hr {
	opacity: 0.15;
}

.card-header {
	padding-top: .75rem;
	padding-bottom: .75rem;
}

/* Table */
.table> :not(:last-child)> :last-child>* {
	border-bottom-color: inherit;
}

.table:not(.table-sm)> :not(caption)>*>* {
	padding: 0.75rem;
}

.table-sm> :not(caption)>*>* {
	padding: 0.3rem;
}

@media print {

	.table td,
	.table th {
		background-color: transparent !important;
	}

	.table td.bg-light,
	.table th.bg-light {
		background-color: #FFF !important;
	}

	.table td.bg-light-1,
	.table th.bg-light-1 {
		background-color: #f9f9fb !important;
	}

	.table td.bg-light-2,
	.table th.bg-light-2 {
		background-color: #f8f8fa !important;
	}

	.table td.bg-light-3,
	.table th.bg-light-3 {
		background-color: #f5f5f5 !important;
	}

	.table td.bg-light-4,
	.table th.bg-light-4 {
		background-color: #eff0f2 !important;
	}

	.table td.bg-light-5,
	.table th.bg-light-5 {
		background-color: #ececec !important;
	}
}

/* =================================== */
/*  Layouts
/* =================================== */
.invoice-container {
	margin: 15px auto;
	padding: 70px;
	max-width: 850px;
	background-color: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

@media (max-width: 767px) {
	.invoice-container {
		padding: 35px 20px 70px 20px;
		margin-top: 0px;
		border: none;
		border-radius: 0px;
	}
}

/* =================================== */
/*  Extras
/* =================================== */
.bg-primary,
.badge-primary {
	background-color: #0071cc !important;
}

.bg-secondary {
	background-color: #0c2f55 !important;
}

.text-secondary {
	color: #0c2f55 !important;
}

.text-primary {
	color: #0071cc !important;
}

.btn-link {
	color: #0071cc;
}

.btn-link:hover {
	color: #005da8 !important;
}

.border-primary {
	border-color: #0071cc !important;
}

.border-secondary {
	border-color: #0c2f55 !important;
}

.btn-primary {
	background-color: #0071cc;
	border-color: #0071cc;
}

.btn-primary:hover {
	background-color: #005da8;
	border-color: #005da8;
}

.btn-secondary {
	background-color: #0c2f55;
	border-color: #0c2f55;
}

.btn-outline-primary {
	color: #0071cc;
	border-color: #0071cc;
}

.btn-outline-primary:hover {
	background-color: #0071cc;
	border-color: #0071cc;
	color: #fff;
}

.btn-outline-secondary {
	color: #0c2f55;
	border-color: #0c2f55;
}

.btn-outline-secondary:hover {
	background-color: #0c2f55;
	border-color: #0c2f55;
	color: #fff;
}

.progress-bar,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background-color: #0071cc;
}

.page-item.active .page-link,
.custom-radio .custom-control-input:checked~.custom-control-label:before,
.custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label:before,
.custom-control-input:checked~.custom-control-label:before {
	background-color: #0071cc;
	border-color: #0071cc;
}

.list-group-item.active {
	background-color: #0071cc;
	border-color: #0071cc;
}

.page-link {
	color: #0071cc;
}

.page-link:hover {
	color: #005da8;
}

/* Pagination */
.page-link {
	border-color: #f4f4f4;
	border-radius: 0.25rem;
	margin: 0 0.3rem;
}

.page-item.disabled .page-link {
	border-color: #f4f4f4;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	width: 100%;
	padding-right: var(--bs-gutter-x, .75rem);
	padding-left: var(--bs-gutter-x, .75rem);
	margin-right: auto;
	margin-left: auto
}

.align-items-center {
	align-items: center !important
}


.text-center {
	text-align: center !important
}

.mb-0 {
	margin-bottom: 0 !important
}

.mb-3 {
	margin-bottom: 1rem !important
}

.mt-4 {
	margin-top: 1.5rem !important
}

.text-end {
	text-align: right !important
}

.border-bottom-0 {
	border-bottom: 0 !important
}

.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -.5);
	margin-left: calc(var(--bs-gutter-x) * -.5)
}

.col-1 {
	flex: 0 0 auto;
	width: 8.33333333%
}

.col-2 {
	flex: 0 0 auto;
	width: 16.66666667%
}

.col-3 {
	flex: 0 0 auto;
	width: 25%
}

.col-4 {
	flex: 0 0 auto;
	width: 33.33333333%
}

.col-7 {
	flex: 0 0 auto;
	width: 58.3333333%
}

.row>* {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
	margin-top: var(--bs-gutter-y)
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem
}

.card>hr {
	margin-right: 0;
	margin-left: 0
}

.card>.list-group {
	border-top: inherit;
	border-bottom: inherit
}

.card>.list-group:first-child {
	border-top-width: 0;
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px)
}

.card>.list-group:last-child {
	border-bottom-width: 0;
	border-bottom-right-radius: calc(.25rem - 1px);
	border-bottom-left-radius: calc(.25rem - 1px)
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
	border-top: 0
}

.card-body {
	flex: 1 1 auto;
	padding: 1rem 1rem
}

.card-title {
	margin-bottom: .5rem
}

.card-subtitle {
	margin-top: -.25rem;
	margin-bottom: 0
}

.card-text:last-child {
	margin-bottom: 0
}

.card-link:hover {
	text-decoration: none
}

.card-link+.card-link {
	margin-left: 1rem
}

.card-header {
	padding: .5rem 1rem;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, .03);
	border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-footer {
	padding: .5rem 1rem;
	background-color: rgba(0, 0, 0, .03);
	border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer:last-child {
	border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.card-header-tabs {
	margin-right: -.5rem;
	margin-bottom: -.5rem;
	margin-left: -.5rem;
	border-bottom: 0
}

.card-header-pills {
	margin-right: -.5rem;
	margin-left: -.5rem
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	border-radius: calc(.25rem - 1px)
}

.card-img,
.card-img-bottom,
.card-img-top {
	width: 100%
}

.card-img,
.card-img-top {
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px)
}

.card-img,
.card-img-bottom {
	border-bottom-right-radius: calc(.25rem - 1px);
	border-bottom-left-radius: calc(.25rem - 1px)
}

.card-group>.card {
	margin-bottom: .75rem
}

.p-0 {
	padding: 0 !important
}

.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch
}

table {
	caption-side: bottom;
	border-collapse: collapse
}

.table {
	--bs-table-bg: transparent;
	--bs-table-accent-bg: transparent;
	--bs-table-striped-color: #212529;
	--bs-table-striped-bg: rgba(0, 0, 0, 0.05);
	--bs-table-active-color: #212529;
	--bs-table-active-bg: rgba(0, 0, 0, 0.1);
	--bs-table-hover-color: #212529;
	--bs-table-hover-bg: rgba(0, 0, 0, 0.075);
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
	vertical-align: top;
	border-color: #dee2e6
}

.table>:not(caption)>*>* {
	padding: .5rem .5rem;
	background-color: var(--bs-table-bg);
	border-bottom-width: 1px;
	box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg)
}

.table>tbody {
	vertical-align: inherit
}

.table>thead {
	vertical-align: bottom
}

.table>:not(:last-child)>:last-child>* {
	border-bottom-color: currentColor
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: -1px;
}

.btn-group-vertical>.btn-check:checked+.btn, .btn-group-vertical>.btn-check:focus+.btn, .btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn-check:checked+.btn, .btn-group>.btn-check:focus+.btn, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
    z-index: 1;
}

.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    flex: 1 1 auto;
}

.text-black-50 {
    color: rgba(0, 0, 0, .5) !important;
}

.btn-group-sm>.btn,
.btn-sm {
	padding: .25rem .5rem;
	font-size: .875rem;
	border-radius: .2rem
}

.btn-group-sm>.btn+.dropdown-toggle-split,
.btn-sm+.dropdown-toggle-split {
	padding-right: .375rem;
	padding-left: .375rem
}

.border {
	border: 1px solid #dee2e6 !important
}

@media print {
	.d-print-none {
		display: none !important
	}
}

@media (min-width:576px) {
	.text-sm-start {
		text-align: left !important
	}
	
	.mb-sm-0 {
		margin-bottom: 0 !important
	}

	.text-sm-end {
		text-align: right !important
	}
	
	.col-sm-5 {
		flex: 0 0 auto;
		width: 41.66666667%
	}

	.col-sm-6 {
		flex: 0 0 auto;
		width: 50%
	}

	.col-sm-7 {
		flex: 0 0 auto;
		width: 58.33333333%
	}

	.card-group {
		display: flex;
		flex-flow: row wrap
	}

	.card-group>.card {
		flex: 1 0 0%;
		margin-bottom: 0
	}

	.card-group>.card+.card {
		margin-left: 0;
		border-left: 0
	}

	.card-group>.card:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0
	}

	.card-group>.card:not(:last-child) .card-header,
	.card-group>.card:not(:last-child) .card-img-top {
		border-top-right-radius: 0
	}

	.card-group>.card:not(:last-child) .card-footer,
	.card-group>.card:not(:last-child) .card-img-bottom {
		border-bottom-right-radius: 0
	}

	.card-group>.card:not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0
	}

	.card-group>.card:not(:first-child) .card-header,
	.card-group>.card:not(:first-child) .card-img-top {
		border-top-left-radius: 0
	}

	.card-group>.card:not(:first-child) .card-footer,
	.card-group>.card:not(:first-child) .card-img-bottom {
		border-bottom-left-radius: 0
	}
}